body{
	letter-spacing: 0.8px;
}
/* Modificaciones al navbar de Bootstrap */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
	height: 7vh;
	background-color: #F8F8F8;
  border-color: #F8F8F8;
}
.navbar-brand {
	font-size: 1.5em;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
}

/* Color de la sidebar */
#sidebar-wrapper {
	background: #222;
}

/* Tamaño del mapa de angular-google-maps */
.angular-google-map-container {
  height: 92vh;
  width: 100vw;
  border-radius: 2%;
}

/* marcadores */
.map-labels {
	text-decoration: underline;
	font-size: 12em;
}
.marker-window{
	z-index: 100;
	position: absolute;
	left: 40vw;
	top: 20vh;
}

/* Menú de marcadores */
.marker-menu {
	position:absolute; 
	top:85vh; 
	right:15vw;
	z-index:10;
	background: #F8F8F8;
	opacity: .9;
	padding: 10px;
}
.map-labels{
	background: black;
}
#btn-markers{
	border-radius: 100%;
}

/* Slider */
.slider{
	margin:20px;
	width: 400px;
}
.slider-selection{
	opacity: .6;
}

.slider-handle{
	opacity: .6;	
}
.slider.slider-horizontal {
	width:400px;
}

/* media queries */
@media(min-width:768px) {
    .marker-menu {
			right:30vw;
    }
}