<!DOCTYPE htmlx>
<html ng-app="teimapsApp">
<head>
  <title>Teimaps2</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js'%>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<!-- Navbar -->
	<nav class="navbar navbar-default">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="">
	          Tei<b>maps</b>
	      </a>
	    </div>
	</nav>
	
	<!-- Sidebar -->
	<div id="wrapper">
	  <div id="sidebar-wrapper" class="toggled">
	      <ul class="sidebar-nav">
	          <li class="sidebar-brand">
	              <a href="">John Doe</a>
	          </li>
	          <li>
	              <a href="">Mis rutas</a>
	          </li>
	          <li>
	              <a href="">Añadir ruta</a>
	          </li>
	      </ul>
	  </div><!-- /sidebar-wrapper -->
	</div><!-- /#wrapper -->    

	<!-- Map -->
	<div ng-view></div>
	
</body>
</html>
